<!DOCTYPE html>
<html>
<head>
  <title>Logout</title>
</head>
<body>
  <%- include('header') %>
  <div style="text-align: center; margin-top: 50px;">
    <h2>You have been logged out successfully.</h2>
    <a href="/login" class="btn btn-success">Login Again</a>
  </div>
</body>
</html>
